transformers==4.28.1
tensorflow==2.11.0
streamlit==1.45.0
tokenizers==0.13.3
huggingface-hub==0.16.4

# الضروريات
absl-py
altair
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
filelock
flatbuffers
fsspec
gast
google-pasta
grpcio
h5py
idna
importlib_metadata
Jinja2
joblib
jsonschema
Markdown
MarkupSafe
ml-dtypes
numpy
packaging
pandas
pillow
protobuf
pydeck
Pygments
python-dateutil
pytz
PyYAML
regex
requests
rich
scikit-learn
scipy
six
streamlit
tensorboard
tensorboard-data-server
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
zipp
